:root {
    --background-color: #ff9b71;
    --font-color: #fffd82;
    --button-color: #2d3047;
    --x-color: #ed217c;
    --o-color: #1b998b;
}

body {
    background-color: var(--background-color);
    opacity: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

#modal {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    border: 2px solid var(--font-color);
}

#modal form {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 2rem;
}

#modal form input {
    height: 2rem;
    font-size: 1.8rem;
}

#modal form button {
    height: 3rem;
    width: 6rem;
    font-size: 2rem;
}

#board {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    grid-template-rows: max-content max-content max-content;
    height: 75%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#board button {
    height: 6rem;
    width: 6rem;
}

.X {
    color: var(--x-color);
    font-size: 5rem;
}

.O {
    color: var(--o-color);
    font-size: 5rem;
}